/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: .05rem solid #333;
  
  
}


/*
 * Base structure
 */

html,
body {
  margin: 0;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 40rem;
  
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, .5);
}


.pause {
  font-size: 3rem;
  cursor:pointer;
  border-radius: 1px;
  margin-top: 1rem;
}

.form-control {
  margin-top: 2rem;
}

.btn {
  margin-top: 2rem;
  background-color: #001A35;
  border-color: #001A35;

}


.cover-heading {

  margin-top: 2rem;
  font-weight: 600;
}

p {

  margin-top: 2rem;
  font-weight: 500;

}

.foottext {
  font-weight: 400;
  font-size: 18px;
  margin-top: 1rem;
  color: black;
}

.joke {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  margin-top: .5rem;
  color: black;
}

.mylink {
  font-weight: 600;
  font-size: 18px;
  margin-top: 1rem;
  color: #001A35;
}

.mylink {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  margin-top: .5rem;
  color: #001A35;
}


.alert alert-danger alert-dismissible fade show {
  
  margin-top: 2rem;
}